/*
* Single-event
*/
/* -- carousel -- */
.image-card {
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.imgs-carousel {
  height: 500px;
}
.wrap-carouser-event .slick-dots {
  bottom: 30px;
}
.wrap-carouser-event .slick-dots li {
  margin: 0;
}
.wrap-carouser-event .slick-dots li button:before {
  font-size: 30px;
}
.wrap-carouser-event .slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}
.wrap-carouser-event .slick-dots li button:before {
  color: $orange;
  opacity: 1;
}
@media (max-width:1024px) {
  .image-card {
    height: 400px;
  }
  .imgs-carousel {
    height: 400px;
  }
}
@media (max-width:768px) {
  .image-card {
    height: 300px;
  }
  .imgs-carousel {
    height: 300px;
  }
  .wrap-carouser-event .slick-dots {
    bottom: 20px;
  }
}
/* ---end carousel --- */

/* -- wrap content-- */
.wrap-detail-event {
  /* min-width: 700px; */
  max-width: 700px;
  min-height: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 10px;
}
/* - end wrap content- */

/* -- row detail -- */
.detail-event {
  padding-left: 25px;
  padding-right: 25px;
}
.row-event {
  height: 66px;
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
}
.logo-row {
  float: left;
  text-align: center;
}
.row-event:hover {
  cursor: pointer;
}
.row-event .hover-img {
  display: none;
}
.row-event:hover .normal-img {
  display: none;
}
.row-event:hover .hover-img {
  display: block;
}
.box-description-event {
  float: left;
  position: relative;
}

.description-event {
  margin: 6px 0 0 0;
  font-weight: 300;
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.helvetica-neue {
  font-family: 'Helvetica Neue';
}
.box-description-event.full {
  width: 100%;
  overflow: hidden;
}
@media (min-width:1024px) {
  .logo-row {
    width: 10%;
  }
  .box-description-event {
    width: 90%;
  }
}
@media (max-width:1024px) {
  .logo-row {
    width: 15%;
  }
  .box-description-event {
    width: 85%;
  }
}
@media (max-width:400px) {
  .logo-row {
    width: 20%;
  }
  .box-description-event {
    width: 80%;
  }
}
/* -- end row detail -- */

/* -- end more info -- */
.wrap-more-info {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 62px;
  background: #f2f2f2;
}
.box-more-info {
  float: left;
  width: 90%;
  padding-left: 5%;
}
.box-arrow-info {
  float: left;
  width: 10%;
  margin-top: 17px;
}
.box-arrow-info span {
  float: right;
}
.description-info {
  margin: 17px 0 0 0;
  font-weight: 300;
}
.invite-event {
  margin-top: 5px;
}
/* -- end more info -- */
/* -- wrap buttons -- */
.col-button {
  text-align: center;
}
.col-button:hover {
  cursor: pointer;
}
.col-button .hover-img {
  display: none;
}
.col-button:hover .normal-img {
  display: none;
}
.col-button:hover .hover-img {
  display: block;
}
.text-detail {
  font-weight: 300;
}
.wrap-buttons {
  height: 75px;
  border-bottom: 1px solid #ccc;
}
@media (max-width:500px) {
  .text-detail {
    font-size: 17px;
  }
}
/*- end wrap buttons -*/

/*- end comunity -*/
.wrap-comunity-event {
  margin-top: 25px;
}
.row-comunity {
  height: 67px;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.row-comunity:hover {
  cursor: pointer;
}
.row-comunity .hover-img {
  display: none;
}
.row-comunity:hover .normal-img {
  display: none;
}
.row-comunity:hover .hover-img {
  display: block;
}
.logo-row-comunity {
  float: left;
  text-align: center;
}
.box-description-comunity {
  float: left;
  position: relative;
}
.box-arrow-comunity {
  float: right;
  margin-top: 13px;
}
.box-arrow-comunity span {
  float: right;
}
.description-comunity {
  margin: 6px 0 0 0;
  font-weight: 300;
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .logo-row-comunity {
    width: 10%;
  }
  .box-description-comunity {
    width: 80%;
  }
  .box-arrow-comunity {
    width: 10%;
  }
}
@media (max-width: 1024px) {
  .logo-row-comunity {
    width: 15%;
  }
  .box-description-comunity {
    width: 80%;
  }
  .box-arrow-comunity {
    width: 5%;
  }
}
@media (max-width: 400px) {
  .logo-row-comunity {
    width: 20%;
  }
  .box-description-comunity {
    width: 70%;
  }
  .box-arrow-comunity {
    width: 10%;
  }
}
.button-beta {
  border-radius: 40px;
  padding: 15px 80px;
  font-size: 24px;
  font-weight: 100 !important;
  background-color: $orange;
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: $orange;
  font-family: 'Montserrat Alternates',sans-serif;
  color: white;
  transition: all 0.5s;
  &:hover {
    background-color: $orange_hover !important;
  }
  &:focus {
    background-color: $orange_hover !important;
  }
}

@media (max-width: 768px) {
  .button-beta {
    padding: 15px 40px !important;
    font-size: 20px !important;
  }
}
/*- end comunity -*/
#event-form label {
  font-weight: 400 !important;
}
#update-event{
  .title-container{
    text-align: center;
  }
  .form-group{
    position: relative !important;
    transform: none;
    .form-control{
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      border-bottom: 1px solid $rosa_sd;
      box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
      font-size: 16px;
      font-weight: 700;
      padding: 6px 0px;
      &.red_border{
          border-bottom: 1px solid red;
          color:red;
      }
  }
  .label {
    cursor: pointer;
    display: block;
  }
  .progress {
    display: none;
    margin-bottom: 1rem;
  }
  .alert {
    display: none;
  }
  .img-container img {
    max-width: 100%;
  }
  img{
    max-width: 700px;
  }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

//Spinjs
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

/*** fix card ***/
.cstm-single-event .wrap-detail-event {
  margin-top: 35px !important;
}
.cstm-single-event .slick-dots li {
  height: 10px;
  width: 10px;
}
.cstm-single-event .slick-dots li button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #fa8347;
  padding: 0;
}
.cstm-single-event .slick-dots li.slick-active button {
  background: #fa8347;
}
.cstm-single-event .slick-slide {
  outline: none;
  border: none;
}
.cstm-single-event .slick-dots li button:before {
  content: none;
}
@media (min-width: 768px) {
  .cstm-single-event .content-card-event {
    height: 194px !important;
  }
  .cstm-single-event .img-card-resized {
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .cstm-single-event .content-card-event {
    height: 375px;
  }
}
@media (max-width: 740px) {
  .cstm-single-event .content-card-event {
    height: 365px;
  }
}
@media (max-width: 730px) {
  .cstm-single-event .content-card-event {
    height: 355px;
  }
}
@media (max-width: 710px) {
  .cstm-single-event .content-card-event {
    height: 345px;
  }
}
@media (max-width: 685px) {
  .cstm-single-event .content-card-event {
    height: 330px;
  }
}
@media (max-width: 650px) {
  .cstm-single-event .content-card-event {
    height: 315px;
  }
}
@media (max-width: 625px) {
  .cstm-single-event .content-card-event {
    height: 305px;
  }
}
@media (max-width: 605px) {
  .cstm-single-event .content-card-event {
    height: 290px;
  }
}
@media (max-width: 575px) {
  .cstm-single-event .content-card-event {
    height: 275px;
  }
}
@media (max-width: 550px) {
  .cstm-single-event .content-card-event {
    height: 265px;
  }
}
@media (max-width: 540px) {
  .cstm-single-event .content-card-event {
    height: 260px;
  }
}
@media (max-width: 530px) {
  .cstm-single-event .content-card-event {
    height: 255px;
  }
}
@media (max-width: 520px) {
  .cstm-single-event .content-card-event {
    height: 250px;
  }
}
@media (max-width: 510px) {
  .cstm-single-event .content-card-event {
    height: 245px;
  }
}
@media (max-width: 500px) {
  .cstm-single-event .content-card-event {
    height: 240px;
  }
}
@media (max-width: 490px) {
  .cstm-single-event .content-card-event {
    height: 235px;
  }
}
@media (max-width: 480px) {
  .cstm-single-event .content-card-event {
    height: 230px;
  }
}
@media (max-width: 470px) {
  .cstm-single-event .content-card-event {
    height: 225px;
  }
}
@media (max-width: 460px) {
  .cstm-single-event .content-card-event {
    height: 220px;
  }
}
@media (max-width: 450px) {
  .cstm-single-event .content-card-event {
    height: 215px;
  }
}
@media (max-width: 440px) {
  .cstm-single-event .content-card-event {
    height: 210px;
  }
}
@media (max-width: 430px) {
  .cstm-single-event .content-card-event {
    height: 205px;
  }
}
@media (max-width: 420px) {
  .cstm-single-event .content-card-event {
    height: 200px;
  }
}
@media (max-width: 410px) {
  .cstm-single-event .content-card-event {
    height: 195px;
  }
}
@media (max-width: 400px) {
  .cstm-single-event .content-card-event {
    height: 190px;
  }
}
@media (max-width: 390px) {
  .cstm-single-event .content-card-event {
    height: 185px;
  }
}
@media (max-width: 380px) {
  .cstm-single-event .content-card-event {
    height: 180px;
  }
}
@media (max-width: 370px) {
  .cstm-single-event .content-card-event {
    height: 175px;
  }
}
@media (max-width: 360px) {
  .cstm-single-event .content-card-event {
    height: 170px;
  }
}
@media (max-width: 350px) {
  .cstm-single-event .content-card-event {
    height: 165px;
  }
}
@media (max-width: 340px) {
  .cstm-single-event .content-card-event {
    height: 160px;
  }
}
@media (max-width: 330px) {
  .cstm-single-event .content-card-event {
    height: 155px;
  }
}
@media (max-width: 320px) {
  .cstm-single-event .content-card-event {
    height: 150px;
  }
}
