/*
* Template recovery-password
*/
.title-page {
  text-align: center;
  margin-top: 30px;
  margin-bottom:50px;
}
.wrap-sign-in a {
  color: #fa8448;
}
.message-request, .message-error {
  min-height: 40px;
  margin-bottom: 0;
}

  .wrap-input {
    position: relative;
    position: relative;
    min-height: 100px;
    width: 100%;
  }
  .wrap-input label {
    font-size: 18px;
    color: #ccc;
    font-weight: 400;
  }
  .wrap-input input {
    border-bottom: 1px solid red;
    border-radius: 0px;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
  }
  .wrap-input input:focus {
    box-shadow: none;
    border-color: none;
    border-bottom: 2px solid red;
  }
  .wrap-input .form-group {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
  }
  .box-recovery {
    max-width: 700px;
    min-height: 72vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .content-recovery {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap-link {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
  }
  .wrap-link a {
    color: #fa8448;
  }
  .wrap-link a p {
    font-size: 17px;
  }
  .button-beta {
    border-radius: 40px;
    padding: 10px 90px;
    font-size: 22px;
    font-weight: 100 !important;
    background-color: #fa8448;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #fa8448;
    font-family: 'Montserrat Alternates',sans-serif;
    color: white;
    transition: all 0.5s;
  }
  .button-beta:hover {
    background-color: $orange_hover !important;
    border-color: $orange_hover !important;
  }
  .align-button-beta {
    margin-left:15px;
    margin-right:15px;
  }

  @media (min-width:1024px) {
    .align-button-beta {
      min-width: 250px;
    }
  }

  .buttons-sign-in {
    border-radius: 40px;
    padding: 10px 90px;
    font-size: 22px;
    font-weight: 100 !important;
    background-color: #fa8448;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #fa8448;
    font-family: 'Helvetica Neue';
    width: 100%;
  }
  .br-custom {
    display: none;
  }
  .helvetica-neue {
    font-family: 'Helvetica Neue' !important;
  }
  @media (max-width:991px) {
    .buttons-sign-in {
      padding: 10px 10px;
      font-size: 18px;
    }
  }
  @media (max-width:768px) {
    .wrap-input .form-group {
      width: 90%;
    }
    .wrap-link {
      width: 90%;
    }
  }
  @media (max-width:600px) {
    .wrap-input .form-group {
      width: 100%;
    }
    .wrap-link {
      width: 100%;
    }
    .br-custom {
      display: block;
    }
  }
