<div class="row">
  <nb-card class="col-sm-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>
      <span>Passaggi</span>
      <span>
        <a nbButton status="danger" *ngIf="selectedRides && selectedRides.length > 0" (click)="deleteBulk()">ELIMINA</a>
        <a nbButton status="primary" outline (click)="requestExport()">ESPORTA DATI</a>
      </span>
    </nb-card-header>
  
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <ng2-smart-table [settings]="settings" [source]="source" 
              (edit)="onEdit($event)"
              (delete)="onDelete($event)"
              (userRowSelect)="rideSelectRows($event.selected)">
            </ng2-smart-table>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>


