<div class="row">
  <div class="col-md-8">


    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
      <nb-card-header>
        <span>Item</span>
      </nb-card-header>
    
      <nb-card-body *ngIf="item">

        <form #myForm="ngForm">
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Nome</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputName" placeholder="Nome" name="name" [(ngModel)]="item.name">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputDescription" class="col-sm-3 col-form-label">Descrizione</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputDescription" placeholder="Descrizione" name="description" [(ngModel)]="item.description">
            </div>
          </div>

          <div class="form-group row" *ngIf="item.brands">
            <label for="inputBrand" class="col-sm-3 col-form-label">Brand</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputBrand" placeholder="Brand" name="brands" [(ngModel)]="item.brands[0].name">
            </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <a nbButton status="secondary" outline (click)="showBrandSelector = true">SELEZIONA BRAND</a>
              </div>
          </div>

          <div class="form-group row" *ngIf="showBrandSelector">
            <label for="inputBrand" class="col-sm-3 col-form-label">Cerca brand</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputBrand" placeholder="Brand" name="brand" [(ngModel)]="brand" #brandinput  (change)="brandChanged()">
              <div class="" *ngIf="brands">
                  <span *ngFor="let b of brands"><span class="badge badge-pill badge-primary"
                  (click)="chooseBrand(b)">{{b.name}}</span> </span>
                </div>
            </div>
          </div>
          
          <hr>
          
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-primary" type="submit" [disabled]="imgLoading || loading" (click)="save()">Salva</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- <div class="col-md-6">
      <nb-card [nbSpinner]="transactionsLoading" nbSpinnerStatus="primary">
        <nb-card-header>
          Transazioni
        </nb-card-header>
      
        <nb-card-body *ngIf="event">
          
        </nb-card-body>
      </nb-card>
    </div> -->
</div>


