

@font-face {
  font-family: 'EmojiSymbols';
  src: url('#{$icon-font-path}EmojiSymbols-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Lato Light Italic";
  src:url("#{$icon-font-path}Lato-LightItalic.eot?") format("eot"),
  url("#{$icon-font-path}Lato-LightItalic.woff") format("woff"),
  url("#{$icon-font-path}Lato-LightItalic.ttf") format("truetype"),
  url("#{$icon-font-path}Lato-LightItalic.svg#Lato-LightItalic") format("svg");
  font-weight:normal;
  font-style:normal;
}

.flurry-container {
  span {
    font-family: "EmojiSymbols";
    font-weight: normal;
  }
}


@font-face {
  font-family: 'lato-regular';
  src: url('#{$icon-font-path}Lato-Regular.eot');
  src: url('#{$icon-font-path}Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}Lato-Regular.woff2') format('woff2'),
  url('#{$icon-font-path}Lato-Regular.woff') format('woff'),
  url('#{$icon-font-path}Lato-Regular.ttf') format('truetype'),
  url('#{$icon-font-path}Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gloss-bloom';
  src: url('#{$icon-font-path}GlossAndBloom.eot');
  src: url('#{$icon-font-path}GlossAndBloom.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}GlossAndBloom.woff2') format('woff2'),
  url('#{$icon-font-path}GlossAndBloom.woff') format('woff'),
  url('#{$icon-font-path}GlossAndBloom.ttf') format('truetype'),
  url('#{$icon-font-path}GlossAndBloom.svg#GlossAndBloom') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-bold';
  src: url('#{$icon-font-path}Lato-Bold.eot');
  src: url('#{$icon-font-path}Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}Lato-Bold.woff2') format('woff2'),
  url('#{$icon-font-path}Lato-Bold.woff') format('woff'),
  url('#{$icon-font-path}Lato-Bold.ttf') format('truetype'),
  url('#{$icon-font-path}Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato-black';
  src: url('#{$icon-font-path}Lato-Black.eot');
  src: url('#{$icon-font-path}Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}Lato-Black.woff2') format('woff2'),
  url('#{$icon-font-path}Lato-Black.woff') format('woff'),
  url('#{$icon-font-path}Lato-Black.ttf') format('truetype'),
  url('#{$icon-font-path}Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'lato-light';
  src: url('#{$icon-font-path}Lato-Light.eot');
  src: url('#{$icon-font-path}Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}Lato-Light.woff2') format('woff2'),
  url('#{$icon-font-path}Lato-Light.woff') format('woff'),
  url('#{$icon-font-path}Lato-Light.ttf') format('truetype'),
  url('#{$icon-font-path}Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'bebasneue_regular';
  src: url('#{$icon-font-path}bebasneue_regular-webfont.eot');
  src: url('#{$icon-font-path}bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}bebasneue_regular-webfont.woff') format('woff'),
  url('#{$icon-font-path}bebasneue_regular-webfont.woff') format('woff'),
  url('#{$icon-font-path}bebasneue_regular-webfont.ttf') format('truetype'),
  url('#{$icon-font-path}bebasneue_regular-webfont.svg#segoe-ui-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vancondensedpro-buploadedfile';
  src: url('#{$icon-font-path}308c35_0_0-webfont.eot');
  src: url('#{$icon-font-path}308c35_0_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}308c35_0_0-webfont.woff2') format('woff2'),
  url('#{$icon-font-path}308c35_0_0-webfont.woff') format('woff'),
  url('#{$icon-font-path}308c35_0_0-webfont.ttf') format('truetype'),
  url('#{$icon-font-path}308c35_0_0-webfont.svg#vancondensedpro-buploadedfile') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  //font-family: 'vancondensedlightuploadedfile';
  font-family: 'VanCondensedLightPro-Light';
  src: url('#{$icon-font-path}308c35_3_0-webfont.eot');
  src: url('#{$icon-font-path}308c35_3_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}308c35_3_0-webfont.woff2') format('woff2'),
  url('#{$icon-font-path}308c35_3_0-webfont.woff') format('woff'),
  url('#{$icon-font-path}308c35_3_0-webfont.ttf') format('truetype'),
  url('#{$icon-font-path}308c35_3_0-webfont.svg#vancondensedlightuploadedfile') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on November 13, 2017 10:06 AM */

@font-face {
    font-family: 'meatloaf';
    src: url('#{$icon-font-path}meatloaf.eot');
    src: url('#{$icon-font-path}meatloaf.eot?#iefix') format('embedded-opentype'),
        url('#{$icon-font-path}meatloaf.woff2') format('woff2'),
        url('#{$icon-font-path}meatloaf.woff') format('woff'),
        url('#{$icon-font-path}meatloaf.ttf') format('truetype'),
        url('#{$icon-font-path}meatloaf.svg#meatloaf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meatloafsketched';
    src: url('#{$icon-font-path}meatloafsketched.eot');
    src: url('#{$icon-font-path}meatloafsketched.eot?#iefix') format('embedded-opentype'),
        url('#{$icon-font-path}meatloafsketched.woff2') format('woff2'),
        url('#{$icon-font-path}meatloafsketched.woff') format('woff'),
        url('#{$icon-font-path}meatloafsketched.ttf') format('truetype'),
        url('#{$icon-font-path}meatloafsketched.svg#meatloafsketched') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'selfieblack';
    src: url('#{$icon-font-path}selfie_black-webfont.woff2') format('woff2'),
         url('#{$icon-font-path}selfie_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('#{$icon-font-path}icomoon.eot?23myt0');
  src:  url('#{$icon-font-path}icomoon.eot?23myt0#iefix') format('embedded-opentype'),
    url('#{$icon-font-path}icomoon.ttf?23myt0') format('truetype'),
    url('#{$icon-font-path}icomoon.woff?23myt0') format('woff'),
    url('#{$icon-font-path}icomoon.svg?23myt0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stage-icon:before {
  content: "\e902";
}
.icon-aggiungi-partecipante-icon:before {
  content: "\e903";
}
.icon-car-grande-icon-hover:before {
  content: "\e904";
}
.icon-car-grande-icon:before {
  content: "\e905";
}
.icon-comment-icon:before {
  content: "\e906";
}
.icon-stage-icon-hover:before {
  content: "\e907";
}
.icon-arrow-right-icon:before {
  content: "\e901";
}
.icon-geotag_intorno_icon:before {
  content: "\e900";
}
.icon-chiudi-icon-hover:before {
  content: "\1f323";
}
.icon-ditendenza_icon:before {
  content: "\1f322";
}
.icon-grandi-icon:before {
  content: "\1f3f2";
}
.icon-prossimi_mesi_icon:before {
  content: "\1f39c";
}
.icon-questa_sett_icon:before {
  content: "\1f394";
}
.icon-stella_icon:before {
  content: "\1f395";
}
.icon-mipiace_icon-hover:before {
  content: "\1f398";
}
.icon-mipiace_icon:before {
  content: "\1f3f6";
}
.icon-partecipanti-icon:before {
  content: "\1f542";
}
.icon-partecipero_icon_hover:before {
  content: "\1f53e";
}
.icon-partecipero_icon:before {
  content: "\1f53f";
}
.icon-questo_mese_icon:before {
  content: "\1f540";
}
.icon-partecipanti-hover:before {
  content: "\1f56b";
}
/* ------ end new import ----- */

/* ----- size font icon ----- */
.font-55 {
  font-size: 55px;
}
.font-45 {
  font-size: 45px;
}
.font-35 {
  font-size: 35px;
}
.font-30 {
  font-size: 30px;
}
.font-25 {
  font-size: 25px;
}
.font-15 {
  font-size: 15px;
}
/* ----- end size font icon ----- */
body {
  font-family: 'Montserrat Alternates',sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #707070;
}

body.admin-bar {
    //margin-top: 32px;

    .navbar-primary {
        margin-top: 32px;
    }
    #head-templates {
      margin-top: 112px !important;
    }
}
#head-templates {
  margin-top: 80px;
  margin-bottom: 50px;
}

.home p, p {
  font-size: 19px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

a, a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.no-padding {
  padding: 0;
}

/*  TEMPLATES  */
.cont-light-grey {
  background-color: $background_light_grey;
}
/*
*  TITLE WITH LINE RIGHT
*/
.name-category {
  color: $font_grey;
  display: table;
  white-space: nowrap;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 800;
}
.name-category:after {
  border-top: 2.3px solid $font_grey;
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(50%);
  left: 10px;
}
/*
* -- BUTTON SHOW MORE
*/
.col-show-more {
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-show-more {
  background-color: $brand-primary ;
  border-color: $brand-primary ;
  color: #ac9700;
  font-weight: bold;
  font-size: 22px;
}
// CUSTOM UTLTIMATE MAMBERS //
.popup-user {
  .um-col-alt {
    .um-right.um-half {
      display: none !important;
    }
  }
  .um-left.um-half {
    width: 100% !important;
  }
}
// btn-logout //
.btn-logout {
  background-color:$brand-primary;
  border-color:$brand-primary;
  border-radius:0;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}


/* NUOVA CLASSE BOOTSTRAP */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 10%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 10%;
    float: left;
  }
}

.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-20 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-20 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-20 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-20 {
    width: 20%;
    float: left;
  }
}

.col-xs-40,
.col-sm-40,
.col-md-40,
.col-lg-40 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-40 {
  width: 40%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-40 {
    width: 40%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-40 {
    width: 40%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-40 {
    width: 40%;
    float: left;
  }
}

.col-xs-45,
.col-sm-45,
.col-md-45,
.col-lg-45 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-45 {
  width: 45%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-45 {
    width: 45%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-45 {
    width: 45%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-45 {
    width: 45%;
    float: left;
  }
}

// Date Picker

.bootstrap-datetimepicker-widget {
  table{
    td{
      &.active{
        background-color: $orange !important;
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        &:hover{
          background-color: $orange !important;
          color: #ffffff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
      }
      &.today{
         &:before{
          border-bottom-color: $orange !important;
         }
      }
    }
  }
}
