// Glyphicons font path
$icon-font-path: "../fonts/";
$images-path: "../images/";


// Colors
$brand-primary: #fa8448;
$font-brown: #ac9700;
$font_grey: #808080;
$font_grey_comunicazioni: #e6e6e6;
$background_light_grey: #f2f2f2;
$background_medium_grey: #d8d8da;
$background_hight_grey: #808080;
$orange: #fa8448;
$orange_hover: #ED3E5B;

// new Colors //

// Yellow group //
$light_yellow: #f8d900;
$hard_yellow: #d3b727;
// grey group  //
$light_grey: #e6e6e6;
$medium_grey: #d8d8da;
$hight_grey: #b2b4b4;
$hard_grey: #808080;
