# Application
#web/app/plugins/*
!web/app/plugins/.gitkeep
#web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads
web/app/uploads/*
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php

# WordPress
web/wp
web/.htaccess

# bk_site
bk_site
bk_site/*

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
.idea
*.sublime-workspace
*.sublime-project

old
package-lock.json
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/text/field_text.css
web/app/plugins/head-footer-code/assets/css/admin.css
web/app/plugins/head-footer-code/assets/css/admin.css.map
web/app/plugins/jetpack/scss/dashboard-widget.css
web/app/plugins/jetpack/scss/dashboard-widget.css.map
web/app/plugins/jetpack/scss/jetpack-admin.css
web/app/plugins/jetpack/scss/jetpack-admin-jitm.css
web/app/plugins/jetpack/scss/jetpack-admin-jitm.css.map
web/app/plugins/jetpack/scss/jetpack-admin.css.map
web/app/plugins/jetpack/scss/jetpack-banners.css
web/app/plugins/jetpack/scss/jetpack-banners.css.map
web/app/plugins/jetpack/scss/jetpack-icons.css
web/app/plugins/jetpack/scss/jetpack-icons.css.map
web/app/plugins/real-media-library/assets/scss/options.css
web/app/plugins/real-media-library/assets/scss/options.css.map
web/app/plugins/real-media-library/assets/scss/style.css
web/app/plugins/real-media-library/assets/scss/style.css.map
web/app/plugins/siteorigin-panels/learn/css/learn.css
web/app/plugins/siteorigin-panels/learn/css/learn.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/affiliate-info.css
web/app/plugins/sitepress-multilingual-cms/res/scss/affiliate-info.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/colorpicker.css
web/app/plugins/sitepress-multilingual-cms/res/scss/colorpicker.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/content-translation.css
web/app/plugins/sitepress-multilingual-cms/res/scss/content-translation.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/language-selector.css
web/app/plugins/sitepress-multilingual-cms/res/scss/language-selector-click.css
web/app/plugins/sitepress-multilingual-cms/res/scss/language-selector-click.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/language-selector.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/languages.css
web/app/plugins/sitepress-multilingual-cms/res/scss/languages.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/menus-sync.css
web/app/plugins/sitepress-multilingual-cms/res/scss/menus-sync.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/overview.css
web/app/plugins/sitepress-multilingual-cms/res/scss/overview.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/post-edit.css
web/app/plugins/sitepress-multilingual-cms/res/scss/post-edit.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/style.css
web/app/plugins/sitepress-multilingual-cms/res/scss/style.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/taxonomy-translation.css
web/app/plugins/sitepress-multilingual-cms/res/scss/taxonomy-translation.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/theme-localization.css
web/app/plugins/sitepress-multilingual-cms/res/scss/theme-localization.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/translation-management.css
web/app/plugins/sitepress-multilingual-cms/res/scss/translation-management.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/translation-options.css
web/app/plugins/sitepress-multilingual-cms/res/scss/translation-options.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/translation-synchronization.css
web/app/plugins/sitepress-multilingual-cms/res/scss/translation-synchronization.css.map
web/app/plugins/sitepress-multilingual-cms/res/scss/wp-nav-menus.css
web/app/plugins/sitepress-multilingual-cms/res/scss/wp-nav-menus.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/redux-admin.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/redux-admin.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/rtl.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/rtl.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/color-picker/color-picker.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/color-picker/color-picker.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/media/media.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/media/media.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/vendor/elusive-icons/scss/elusive-icons.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/vendor/elusive-icons/scss/elusive-icons.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/vendor/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/assets/css/vendor/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/extensions/customizer/extension_customizer.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/extensions/customizer/extension_customizer.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/extensions/import_export/import_export/field_import_export.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/extensions/import_export/import_export/field_import_export.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/extensions/options_object/options_object/field_options_object.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/extensions/options_object/options_object/field_options_object.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/ace_editor/field_ace_editor.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/ace_editor/field_ace_editor.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/background/field_background.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/background/field_background.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/border/field_border.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/border/field_border.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/checkbox/field_checkbox.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/checkbox/field_checkbox.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/color_gradient/field_color_gradient.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/color_gradient/field_color_gradient.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/color_rgba/field_color_rgba.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/color_rgba/field_color_rgba.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/date/field_date.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/date/field_date.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/dimensions/field_dimensions.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/dimensions/field_dimensions.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/divide/field_divide.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/divide/field_divide.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/editor/field_editor.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/editor/field_editor.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/image_select/field_image_select.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/image_select/field_image_select.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/info/field_info.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/info/field_info.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/link_color/field_link_color.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/link_color/field_link_color.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/media/field_media.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/media/field_media.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/multi_text/field_multi_text.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/multi_text/field_multi_text.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/palette/field_palette.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/palette/field_palette.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/section/field_section.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/section/field_section.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/select/field_select.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/select/field_select.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/select_image/field_select_image.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/select_image/field_select_image.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/slider/field_slider.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/slider/field_slider.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/slides/field_slides.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/slides/field_slides.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/sortable/field_sortable.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/sortable/field_sortable.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/sorter/field_sorter.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/sorter/field_sorter.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/spacing/field_spacing.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/spacing/field_spacing.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/spinner/field_spinner.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/spinner/field_spinner.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/switch/field_switch.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/switch/field_switch.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/text/field_text.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/typography/field_typography.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/fields/typography/field_typography.css.map
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/welcome/css/redux-welcome.css
web/app/plugins/ultimate-member/admin/core/lib/ReduxFramework/ReduxCore/inc/welcome/css/redux-welcome.css.map
web/app/themes/sage_new_custom/.DS_Store
